body {
    display: flex;
    justify-content: center;
    background-color: #717171;
}


/* Para navegadores WebKit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cadastro_container {
    background-color: #2e2e2e;
    width: 50%;
}
.cadastroItens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.text_container {
    padding: 2px;
    width: 150px;
    display: flex;
    color: white;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    //margin-left: 20px;
    margin:auto;
}
.inputContainer {
    width: 70%;
    border-radius: 4px;
    border: 2px solid #373737;
    //margin-left: 20px;
    margin: auto;
    height: 20px;
    background-color: #4d4d4d;
}
 .inputContainer::placeholder 
 {
        color: #888; /* Cor do placeholder */
        opacity: 1; /* Para garantir que a opacidade seja total */
  }

.botaoCadastrar {
    width: 60%;
    height: 30px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin: auto;
    margin-top: 10px;
    cursor:pointer;
}
    .botaoCadastrar:hover {
        background-color: #3B82F6;
    }