# Pastas e arquivos do Visual Studio
.vs/
.vscode/

# Binários e arquivos de build gerados
**/bin/
**/obj/
**/Debug/
**/Release/

# Arquivos de configuração de usuário do Visual Studio
*.user
*.suo

# Configurações do Rider (se estiver usando)
.idea/

# Arquivos temporários de build e publicações
*.log
*.db
*.DS_Store
*.bak
